.taskContainer {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
    width: 730px;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.taskContainerDone {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
    width: 730px;
    border-radius: 8px;
    border: 1px solid var(--gray-500);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);

}

.taskTextUndone {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    color: var(--gray-100);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.taskTextdone {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    color: var(--gray-300);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: line-through;
}

.trashIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.trashIcon:hover {
    background-color: var(--gray-400);
    border-radius: 4px;
}

.trashIconSVG {
    display: block;
}

button {
    background: none;
    border: none;
}

.trashIcon:hover .trashIconSVG {
    fill: var(--danger);
}