.header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-700, #0D0D0D);
}

.logoTo {
  margin-left: 12px;
  color: var(--blue);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.logoDo {
  color: var(--purple);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.section {
  display: flex;
  justify-content: center;
  margin-top: -24px;
  gap: 8px;
}



.taskStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 24px;
  margin-top: 65px;
}

.tasksCreated {
  color: var(--blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tasksDone {
  color: var(--purple);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.taskCount {
  margin-left: 8px;
  color: var(--gray-200);
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--gray-400);
}

body {
  background: var(--gray-600, #1A1A1A);
}